body {
    font: 'Raleway', sans-serif;
    color: rgba(0,0,0,0.5);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5em;
    background: linear-gradient(to right, #00ff00, #ff0000);
}

h3{
    letter-spacing: .1em;
    font-size: 0.7em;
    text-transform: uppercase;
}